.entry {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 0.5rem;
  padding: 2px;
  padding-right: 0.5rem;

  & > input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 1rem;
    background-color: transparent;
    border-radius: var(--radius-amount);
    caret-color: white;
    font-weight: 500;

    &::placeholder {
      color: var(--color-white-7);
    }
  }

  & > button {
    position: relative;
    z-index: 10;
  }
}
