.add {
  display: flex;
  position: relative;
  align-items: center;

  &:hover .grab,
  &:hover .delete {
    opacity: 1;
  }
}

.plus {
  left: 1.5rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--color-white-5);
  position: absolute;
  z-index: 11;

  &:hover {
    color: var(--color-white-8);
  }

  & > svg {
    height: 20px;

    width: 20px;
  }
}

.input {
  z-index: 10;
  font-weight: 400;
  padding: 0.5rem 2rem 0.45rem 3.25rem;
  border-bottom: 0.5px solid transparent;
  border-top: 0.5px solid transparent;

  &:focus {
    border-color: var(--color-white-2);
  }

  &.checked {
    text-decoration: line-through;
    color: var(--color-white-5);
  }
}
