#overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--color-default);
}

input {
  background-color: transparent;
  caret-color: white;
  font-weight: 500;
  width: 100%;

  &::placeholder {
    color: var(--color-white-7);
  }
}
