.button {
  display: flex;
  width: min-content;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  color: inherit;

  &:hover {
    color: var(--color-white-0);
    background-color: var(--color-white-1);
  }

  &:focus {
    border-color: rgba(white, 0.3);
  }
}

.tiny {
  padding: 0.1rem;

  & > svg {
    height: 14px;
    width: 14px;
  }
}

.smol {
  padding: 0.15rem;

  & > svg {
    height: 16px;
    width: 16px;
  }
}

.small {
  padding: 0.4rem;

  & > svg {
    height: 18px;
    width: 18px;
  }
}

.medium {
  padding: 0.5rem;
}

.large {
  padding: 0.7rem;
}

.highlight {
  background-color: #41331c;
}
